<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>eboucherie</display-name>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/style/*</url-pattern>
    <url-pattern>/images/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/slidesjs/*</url-pattern>
    <url-pattern>/chosen/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ControlleurRecherche</servlet-name>
    <servlet-class>com.boucheriebenz.eboucherie.recherche.controlleur.ControlleurRecherche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlleurRecherche</servlet-name>
    <url-pattern>/ControlleurRecherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlleurAutoCompletion</display-name>
    <servlet-name>ControlleurAutoCompletion</servlet-name>
    <servlet-class>com.boucheriebenz.eboucherie.recherche.controlleur.ControlleurAutoCompletion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlleurAutoCompletion</servlet-name>
    <url-pattern>/ControlleurAutoCompletion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoControlleur</display-name>
    <servlet-name>PhotoControlleur</servlet-name>
    <servlet-class>com.boucheriebenz.eboucherie.recherche.controlleur.PhotoControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoControlleur</servlet-name>
    <url-pattern>/PhotoControlleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlleurRechercheClient</display-name>
    <servlet-name>ControlleurRechercheClient</servlet-name>
    <servlet-class>com.boucheriebenz.eboucherie.recherche.controlleur.ControlleurRechercheClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlleurRechercheClient</servlet-name>
    <url-pattern>/ControlleurRechercheClient</url-pattern>
  </servlet-mapping>
  	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  
</web-app>