<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/eboucherie</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.password">root</property>
  <mapping class="com.boucheriebenz.eboucherie.recherche.model.Article" resource="com/boucheriebenz/eboucherie/recherche/model/Article.hbm.xml"/>
  <mapping class="com.boucheriebenz.eboucherie.recherche.model.Client" resource="com/boucheriebenz/eboucherie/recherche/model/Client.hbm.xml"/>
  <mapping class="com.boucheriebenz.eboucherie.recherche.model.Tarif" resource="com/boucheriebenz/eboucherie/recherche/model/Tarif.hbm.xml"/>
  <mapping class="com.boucheriebenz.eboucherie.recherche.model.Photo" resource="com/boucheriebenz/eboucherie/recherche/model/Photo.hbm.xml"/>
  <mapping class="com.boucheriebenz.eboucherie.recherche.model.ArticlePhoto" resource="com/boucheriebenz/eboucherie/recherche/model/ArticlePhoto.hbm.xml"/>
 <mapping class="com.boucheriebenz.eboucherie.recherche.model.ArticlePhotoId" resource="com/boucheriebenz/eboucherie/recherche/model/ArticlePhotoId.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
